---js
const eleventyNavigation = {
	key: "Contact",
	order: 11
};
---

<h1>Contact Points</h1>

<h3>Social Media</h3>
<ul>
	<li><a href='https://github.com/JohnQDeveloper'>Github</a></li>
	<li><a href='https://www.reddit.com/user/WarAmongTheStars/'>Reddit</a></li>	
</ul>

<h3>Paid Work / Professional Matters</h3>
<ul>
	<li><a href='mailto:public@johnqdeveloper.com'>public@johnqdeveloper.com</a></li>
	<li><a href='https://discord.gg/spspMEuf'>Discord Invite</a></li>
</ul>


