---js
const eleventyNavigation = {
	key: "Contact",
	order: 11
};
---

<h1>Contact Points</h1>

<i>
<p>Many adults these days put in "Minors DNI or Minors Do Not Interact". I think kids should interact with adults in safe public spaces.</p>
<p>Similarly, I do not want any contact unrelated to your education on coding/tech even in public. Text conversations and screenshots of bugs only.</p>
<p>Do not DM me or engage in any attempt at private conversation. Submitting issues publicly and pull requests on Github is just fine,
you gotta learn somehow.</p>
</i>

<h3>Social Media</h3>
<ul>
	<li><a href='https://github.com/JohnQDeveloper'>Github</a></li>
	<li><a href='https://www.reddit.com/user/WarAmongTheStars/'>Reddit</a></li>
</ul>

<h3>Paid Work / Professional Matters</h3>

<p>
It should be noted that these two contact points have high levels of filtering to make actual contact.
A lack of response is a No unless we've got an existing relationship.
This is ultimately something I do for fun, funding my tech hobbies, and not a reliable or important source of income.
</p>

<ul>
	<li><a href='mailto:public@johnqdeveloper.com'>public@johnqdeveloper.com</a></li>
	<li><a href='https://discord.gg/spspMEuf'>Discord Invite</a></li>
</ul>

<h3>Hiring Information</h3>
<i>If you come in below the rough hourly rates below, the answer will be No + Block.</i>

<ul>
	<li>Your "free trial" is my open source work.</li>
	<li>Contract payments are on the first Monday of the month for the entire month's fee.</li>
	<li>Contract payments are expected to be upfront, no refunds, no warranties except required by US law.</li>
	<li>Contracts are month-to-month. The first through the last day of that month.</li>
	<li>This is for low-priority technical support for my open source projects @ $300/month for a maximum of 2.5 hours a month per client.</li>
	<li>Feature implementation, installations in your environment, etc are is a $1500 retainer with a maximum of 12 hours a month per client.</li>
	<li>Generally, I will book myself for a maximum of 40 hours a month + a day job of 160 hours giving me a 50 hour work week.</li>
	<li>I cannot handle urgent situations due to the nature of a dayjob that is a mix of full stack development and SRE.</li>
	<li>I am very happy with my day job, so I am only offering moonlighting contract work.</li>
	<li>My employment agreement allows for moonlighting with a limit on hours so it does not interefere with day-to-day/on-call.</li>
</ul>
